html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #eff6fa;
    font-family: Arial, Verdana, sans-serif;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100dvh;
}

.content {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.sidebar {
    padding: 0 10px 0 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar select {
    font-size: 22px;
    width: 100%;
}

.sidebar input[type=number] {
    font-size: 22px;
}

.sidebar input[type=checkbox] {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.sidebar label {
    font-size: 22px;
    padding-left: 5px;
}

.sidebar label div.text {
    display: inline-block;
    vertical-align: super;
    padding-top: 2px;
    position: relative;
    top: 4px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    text-align: center;
}

.controls button {
    margin: 0 15px;
}

button {
    font-size: 20px;
    background: #7eabff;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

button.small-btt {
    padding: 5px;
}

select {
    font-size: 18px;
}

.word-box-container {
    display: flex;
    margin-top: 20px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.word-box {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
}

ul,
.current-playlist-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


ul li {
    cursor: pointer;
    margin: 0;
    padding: 2px 5px;
    user-select: none;
    display: flex;
    flex-direction: row;
}

ul li input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.playlist-item-selected {
    background: #63a0dc;
    color: #ffffff;
}

.playlist-controls {
    flex-grow: 0;
}

.current-playlist-box {
    position: relative;
    height: 100%;
    flex-grow: 1;
    max-width: 250px;
    min-width: 160px;
}

.current-playlist {
    flex-grow: 1;
    font-size: 18px;
    line-height: 34px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    height: 100%;
}

.word-value {
    font-size: 38px;
    line-height: 48px;
    word-break: break-word;
}

.word-transcription {
    font-size: 35px;
    line-height: 45px;
}

.word-translations {
    font-size: 18px;
    line-height: 25px;
    max-width: 450px;
    margin: 0 auto;
    color: #4b4b4b;
}

.loader-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #666666;
    opacity: 0.8;
    z-index: 1000000;
}

.volume-button {
    font-size: 1em;
    margin: 0.5em;
}

.volume {
    flex: 1;
    opacity: 0.3;
    margin-top: 15px;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}

.volume-box {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.volume-box div {
    margin: 0 10px;
}

.volume-header {
    font-size: 1.5em;
    text-align: center;
}

.backward-direction-label {
    font-size: 24px;
}

input.backward-direction,
input.auto-play-direction {
    width: 18px;
    height: 18px;
}

.list-item-caption {
    flex: 1;
    font-size: 14px;
    line-height: 1em;
    margin-top: 7px;
}

.playing-status {
    font-size: 50px;
    height: 35px;
    padding: 5px;
}

.playing-status > span {
    display: block;
    width: 24px;
    margin: 0 auto;
}
