html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #eff6fa;
    font-family: Arial, Verdana, sans-serif;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100dvh;
}

.content {
    flex-grow: 1;
}

.sidebar {
    padding: 0 10px 0 0;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar select {
    width: 100%;
}

.controls {
    margin-top: 50px;
    text-align: center;
}

button {
    font-size: 25px;
    background: #7eabff;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

select {
    font-size: 18px;
}

.word-box {
    margin-top: 150px;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    cursor: pointer;
    margin: 0;
    padding: 2px 5px;
    user-select: none;
}

.playlist-item-selected {
    background: #63a0dc;
    color: #ffffff;
}

.playlist-controls {
    flex-grow: 0;
}

.current-playlist {
    margin-top: 5px;
    flex-grow: 1;
    font-size: 18px;
    line-height: 34px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.word-value {
    font-size: 45px;
    line-height: 55px;
}

.word-transcription {
    font-size: 35px;
    line-height: 45px;
}

.word-translations {
    font-size: 18px;
    line-height: 25px;
    max-width: 450px;
    margin: 0 auto;
    color: #4b4b4b;
}
