
body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #eff6fa;
    font-family: Arial, Verdana, sans-serif;
    height: 100vh;
}

.layout-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.theme-list,
.theme-list-inner {
    font-size: 12px;
    width: 125px;
    max-width: 125px;
}

.audio-player__controls {
    padding: 15px 10px 10px 10px;
}

.audio-player__controls .btn {
    margin: 0 3px;
    padding-right: 6px;
    padding-left: 6px;
}
/*
.audio-player__controls .btn:first-child {
    margin-left: 0;
}

.audio-player__controls .btn:last-child {
    margin-right: 0;
}
 */

.audio-player__controls-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theme-list {
    display: flex;
    flex-direction: column;
}

.theme-list-inner {
    overflow-y: scroll;
    flex: 1;
}

ul.themes {
    margin: 0;
    padding: 0;
}

ul.themes li.themes-li {
    padding: 5px;
    cursor: pointer;
}

ul.themes li.themes-li.selected,
ul.categories li.category-li.selected {
    background: #a4c4ef;
}

.player-container {
    flex-grow: 1;
    display: block;
    height: 50vh;
}

.audio-player {
    height: 290px;
}

.text-container {
    /* height: 45vh; */
    /* max-height: 45vh; */
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.text-container-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 7px;
    font-size: 16px;
    line-height: 1.6;
    max-width: 450px;
}

.text-wrap-html {
    font-size: 18px;
}

.text-container-inner .text-wrap {

}

.last-shown.last-shown.last-shown.last-shown.last-shown {
    background: #a1bffa;
}

/* PROGRESS */
.audio-player-progress {
    margin-bottom: 5px;
}

.audio-player-progress__pad {
    padding: 5px 30px 0 30px;
}

.audio-player-progress__captions {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.audio-player-progress__captions > * {
    flex-grow: 1;
    width: 33%;
    min-width: 33%;
}

.audio-player-progress__current-seek {
    text-align: center;
}

.audio-player-progress__total-seek {
    text-align: right;
}

.audio-player-progress__bar {
    height: 5px;
    width: 100%;
    background: #d7d7d7;
}

.audio-player-progress__bar-progress {
    width: 0%;
    background: #1d58ce;
    height: 5px;
}

.audio-player-progress__handles {
    padding-left: 10px;
    margin-top: 5px;
    padding-right: 50px;
    height: 87px;
}

.audio-player-progress__handles-progress-box {
    position: relative;
    width: 100%;
}

.audio-player-progress__direct-handle {
    position: absolute;
    background: #d2ddf8;
    border: 1px solid #1d58ce;
    box-sizing: border-box;
    border-radius: 22px;
    width: 41px;
    height: 41px;
    margin-bottom: 5px;
    top: 0;
    z-index: 2;
    user-select: none;
}

.audio-player-progress__slow-handle {
    position: absolute;
    background: #d2ddff;
    border: 1px solid #1d58ce;
    box-sizing: border-box;
    border-radius: 22px;
    width: 41px;
    height: 41px;
    padding-left: 19px;
    box-sizing: border-box;
    top: 46px;
    user-select: none;
}

.audio-player-progress__slow-handle-notch {
    width: 1px;
    background: #1d58ce;
    height: 65px;
    position: relative;
    top: -65px;
}

/* END PROGRESS */


.btt-icon.btt-icon.btt-icon {
    font-size: 20px;
}

.text-container_item {
    display: flex;
    flex-direction: row;
    padding: 3px 0;
}

.text-container_item:nth-child(2n) {
    background: #dce1f1;
}

.text-container_en {
    width: 50%;
    min-width: 50%;
    padding-left: 7px;
}

.text-container_ru {
    width: 50%;
    min-width: 50%;
    padding-left: 7px;
}

.text-container-controls {
    display: flex;
    flex-direction: column;
    height: 110px;
    max-height: 110px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.text-container-controls .btn {
    margin: 0 20px;
    padding-left: 6px;
    padding-right: 6px;
}

.text-container.hide-ru .text-container_ru {
    visibility: hidden;
}

.text-container-controls_showings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 15px;
}

.text-container-controls_other {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-fix.icon-fix.icon-fix.icon-fix.icon-fix {
    height: auto;
}

.player-container-up {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.layout-top {
    height: 50vh;
    position: relative;
}

.layout-top-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

ul.themes {
    margin: 0;
    padding: 0;
}

ul.themes li.themes-li {
    padding: 5px;
    cursor: pointer;
}

ul.categories {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #5e5e5e;
}

ul.categories li.category-li {
    padding: 5px;
    cursor: pointer;
    color: #5b7fc6;
}

.btn-mic.btn-mic.btn-mic {
    margin-left: 25px;
    padding: 0 50px;
    height: 31px;
}

.btn-mic.btn-mic_recording.btn-mic_recording.btn-mic_recording.btn-mic_recording {
    background: #ff3a3a;
}

.form-group {
    padding: 20px;
}

.form-group label {
    color: #838387;
}

.source-text {
    font-size: 26px;
    cursor: pointer;
}

.source-word-selected {
    outline: 1px solid #4d5154;
    background-color: #d7d7d7;
    border-radius: 5px;
}
