
body, html {
    background: #eff6fa;
    height: 100vh;
    height: 100dvh;
    font-family: Arial;
}

.layout-container {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.theme-list,
.theme-list-inner {
    font-size: 12px;
    width: 125px;
    max-width: 125px;
}

.audio-player__controls {
    padding: 10px;
}

.audio-player__controls-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theme-list {
    display: flex;
    flex-direction: column;
}

.theme-list-inner {
    overflow-y: scroll;
    flex: 1;
}

ul.themes {
    margin: 0;
    padding: 0;
}

ul.themes li.themes-li {
    padding: 5px;
    cursor: pointer;
}

ul.themes li.themes-li.selected {
    background: #a4c4ef;
}

.player-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.audio-player {
    height: 275px;
}

.text-container {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
}

/* PROGRESS */
.audio-player-progress {
    margin-bottom: 5px;
}

.audio-player-progress__pad {
    padding: 5px 30px 0 30px;
}

.audio-player-progress__captions {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.audio-player-progress__captions > * {
    flex-grow: 1;
    width: 33%;
    min-width: 33%;
}

.audio-player-progress__current-seek {
    text-align: center;
}

.audio-player-progress__total-seek {
    text-align: right;
}

.audio-player-progress__bar {
    height: 5px;
    width: 100%;
    background: #d7d7d7;
}

.audio-player-progress__bar-progress {
    width: 0%;
    background: #1d58ce;
    height: 5px;
}

.audio-player-progress__handles {
    padding-left: 10px;
    margin-top: 5px;
    padding-right: 50px;
    height: 87px;
}

.audio-player-progress__handles-progress-box {
    position: relative;
    width: 100%;
}

.audio-player-progress__direct-handle {
    position: absolute;
    background: #d2ddf8;
    border: 1px solid #1d58ce;
    box-sizing: border-box;
    border-radius: 22px;
    width: 41px;
    height: 41px;
    margin-bottom: 5px;
    top: 0;
    z-index: 2;
    user-select: none;
}

.audio-player-progress__slow-handle {
    position: absolute;
    background: #d2ddff;
    border: 1px solid #1d58ce;
    box-sizing: border-box;
    border-radius: 22px;
    width: 41px;
    height: 41px;
    padding-left: 19px;
    box-sizing: border-box;
    top: 46px;
    user-select: none;
}

.audio-player-progress__slow-handle-notch {
    width: 1px;
    background: #1d58ce;
    height: 65px;
    position: relative;
    top: -65px;
}

/* END PROGRESS */


.btt-icon.btt-icon.btt-icon {
    font-size: 20px;
}

.text-container {
    padding: 7px;
    font-size: 12px;
}


.text-container_item {
    display: flex;
    flex-direction: row;
    padding: 3px 0;
}

.text-container_item:nth-child(2n) {
    background: #dce1f1;
}

.text-container_en {
    width: 50%;
    min-width: 50%;
    padding-left: 5px;
}

.text-container_ru {
    width: 50%;
    min-width: 50%;
    padding-left: 5px;
}

.text-container-controls {
    display: flex;
    justify-content: center;
    height: 50px;
    max-height: 50px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.text-container.hide-ru .text-container_ru {
    visibility: hidden;
}

.text-container-controls > * {
    margin: 0 2px;
}
